body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anika-card{
  margin: 20px;
}

.anika-card-image {
  border-radius: 10px;
  width: 120px;
  height: 120px;
  
}

.anika-card-info{
  margin-top: 10px;
  min-height: 100px;
}

.anika-card-title{
  font-size: 24px;
  margin: 0px;
}

.anika-card-sub-title{
  font-size: 16px;
  margin: 0px;  
}

.anika-nav{
  color: black;

}

.pic-logo {
  height: 40vmin;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 1vh solid #e2e5e722
}

.pic-center {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
  
.anika-social{
  margin-top: 100px;
}

.anika-carousel{
  margin-top: 100px;
}